include LICENSE
include README.md
include amc2moodle/moodle2amc/README.md
include amc2moodle/amc2moodle/README.md
include amc2moodle/amc2moodle/bin/amc2moodle
include amc2moodle/amc2moodle/*.xslt
include amc2moodle/amc2moodle/*sty.ltxml
include tests/payload_test_amc2moodle/Figures/*
include tests/payload_test_amc2moodle/Figures/other/*
include tests/payload_test_amc2moodle/4.png
include tests/payload_test_amc2moodle/QCM.pdf
include tests/payload_test_amc2moodle/QCM.tex
include tests/payload_test_amc2moodle/QCM.xml
include tests/payload_test_amc2moodle/QCM_wo-tikz.tex
include tests/payload_test_amc2moodle/QCM_wo-tikz.xml
include tests/payload_test_amc2moodle/tikz.tex
include tests/payload_test_amc2moodle/common-bank.tex
include tests/payload_test_amc2moodle/numerical.tex
include tests/payload_test_amc2moodle/numerical.xml
include tests/payload_test_amc2moodle/cleaning.tex
include tests/payload_test_amc2moodle/cleaning.xml
include tests/payload_test_amc2moodle/element.tex
include tests/payload_test_amc2moodle/includestyles.tex
include amc2moodle/moodle2amc/bin/moodle2amc
include amc2moodle/moodle2amc/html2tex.xslt
include amc2moodle/moodle2amc/struc2tex.xslt
include tests/payload_test_moodle2amc/automultiplechoice.sty
include tests/payload_test_moodle2amc/moodle-bank-exemple.xml
include tests/payload_test_moodle2amc/moodle-bank-exemple.tex
include tests/payload_test_moodle2amc/moodle-bank-exemple.pdf

