include LICENSE
include README.md
include src/moodle2amc/README.md
include src/amc2moodle/README.md
include src/amc2moodle/bin/amc2moodle
include src/amc2moodle/*.xslt
include src/amc2moodle/*sty.ltxml
include src/amc2moodle/test/Figures/*
include src/amc2moodle/test/Figures/other/*
include src/amc2moodle/test/4.png
include src/amc2moodle/test/QCM.pdf
include src/amc2moodle/test/QCM.tex
include src/amc2moodle/test/QCM.xml
include src/amc2moodle/test/QCM_wo-tikz.tex
include src/amc2moodle/test/QCM_wo-tikz.xml
include src/amc2moodle/test/tikz.tex
include src/amc2moodle/test/common-bank.tex
include src/amc2moodle/test/numerical.tex
include src/amc2moodle/test/numerical.xml
include src/amc2moodle/test/cleaning.tex
include src/amc2moodle/test/cleaning.xml
include src/amc2moodle/test/element.tex
include src/amc2moodle/test/includestyles.tex
include src/moodle2amc/bin/moodle2amc
include src/moodle2amc/html2tex.xslt
include src/moodle2amc/struc2tex.xslt
include src/moodle2amc/test/automultiplechoice.sty
include src/moodle2amc/test/moodle-bank-exemple.xml
include src/moodle2amc/test/moodle-bank-exemple.tex
include src/moodle2amc/test/moodle-bank-exemple.pdf

